<!DOCTYPE html>
<html lang="en">
​
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <title>Discount rate</title>
</head>
​
<body class="body_mail">
    <header class="header_mail">
      
    </header>
​
    <main class="main_mail">
        <h1 class="h1_mail">Your Discount Rate</h1>
​
          <h3>Your selections are shown below:</h3>
          <div class="selection">
            <p>Selected method are
              <br> 
              <strong><%= Method %></strong>
            </p>
            <p>The unit of the item is
              <br>
              <strong><%= Rate %> g/s.</strong>
            </p>
          </div>
          <div class="selection">
            <p><strong>Your discount rate is <%= Price %></strong></p>
          </div>
​
    </main>
​
</body>
​
</html>